{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="row mx-3">
        {% for list in listing %}
            <div class="card mx-3" style="width: 18rem;">
                <a href="{% url 'item' id=list.id %}"><img src="{{list.imageUrl}}" class="card-img-top" alt="{{list.title}}"></a>
                <div class="card-body">
                    <a href="{% url 'item' id=list.id %}"><h5 class="card-title">{{list.title}}</h5></a>
                    <p class="card-text">{{list.description}}</p>
                </div>
            </div>
            
        {% endfor %}
    </div>
{% endblock %}